<h1>{{title}}</h1>

<form method="post" action="/order">
	First name:<br>
	<input type="text" name="firstName" value="">
	
	<br>
	Last name:<br>
	<input type="text" name="lastName" value="">
	
	<br>
	Address line 1:<br>
	<input type="text" name="addressLine1" value="">
	
	<br>
	Address line 2:<br>
	<input type="text" name="addressLine2" value="">

	<br>
	City:<br>
	<input type="text" name="city" value="">

	<br>
	Postcode:<br>
	<input type="text" name="postcode" value="">

	<br>
	Country:<br>
	<input type="text" name="country" value="">

	<br>
	Email:<br>
	<input type="text" name="email" value="">

	<br>
	Phone:<br>
	<input type="text" name="phone" value="">

	<br><br>
	<input type="submit" value="Submit">
</form>

<h1>{{status}}</h1>
